In [1]:
import pandas as pd

In [10]:
dataframe = pd.read_csv('recursos/dataframeutf8.csv')

In [11]:
dataframe

  Nombre y apellido  Edad       País Automovil
0              Juan    35     Mexico        No
1             Pedro    41   Honduras        Si
2             Maria    28       Peru        Si
3             Laura    66  Argentina        No
4            Miguel    35     Mexico        Si
5             Vicky    50  Argentina        No

## Shape

Con el metodo shape podemos conocer el numero de filas y columnas de nuestro dataframe.

### Filas

In [12]:
dataframe.shape[0]

6

### Columnas

In [13]:
dataframe.shape[1]

4